body {
    font-size: 75%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    margin: 0;
    background-color: #0f558a;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
hr {
    background: linear-gradient(#4d535c, white, #4d535c);
    height: 15px;
    margin-top: 0;
    border-color: black;
}
.contentWrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 4.0em;
}
header {
    padding: 2.5em 0 0.5em;
    margin: 0;
    background: #2267ab url(images/City.jpg) center 0px;
}
header h1 {
    font-size: 6em;
    color: white;
    text-shadow: 4px 4px 0 black;
    margin: 0;
}
header h2 {
    color: #fab005;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-shadow: 1px 2px 0 black;
    margin: 1em 0 2em 0;
}nav {
    color: #000;
    font-size: 2em;
    text-shadow: 3px 3px 0 black;
    letter-spacing: 0.15em;
    padding: 1.0em 1.0em 0.5em;
    margin: -0.5em 0 0.5em 2em;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: #fab005;
    padding: 0.3em 0.6em;
}
nav li a:hover {
    color: #f5970a;
    background-color: #112278;
    border-radius: 50px;
}
nav#searchBar {
    float: right;
    margin: -3em 2em 0 0;
    padding: 0;
    height: 2em;
}
img#searchImage {
    margin: 0;
    max-width: 75px;
    vertical-align: middle;
}